body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background-color: black;
	font-family: sans-serif;
	color: white;
}

a {
	color: #ff5a00;
}

#groovesharkContainer {
	width: 252px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#groovesharkNote {
	margin-top: 20px;
	margin-bottom: 4px;
	text-align: left;
	font-style: italic;
}

#heyGrooveshark {
	font-weight: bold;
	color: red;
	font-size: 1.25em;
}

#loadingContainer, #schoeffContainer img {
	margin-left: auto;
	margin-right: auto;
}

#loadingText {
	text-align: center;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
}

#introContainer {
	margin-top: 90px;
	width: 480px; 
	margin-left: auto; 
	margin-right: auto; 
	background-color: black;
	padding: 0;
}

