body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background-color: black;
	font-family: sans-serif;
	color: white;
}

a {
	color: #ff5a00;
}

#asterisk {
	font-size: 1.5em;
	font-weight: bold;
	color: white
}

#disclaimer {
	margin-top: 30px;
	font-size: 0.8em;
	font-style: italic;
	color: #9A9A9A;
}

#dragContainer {
	margin-top: 10px;
	margin-bottom: 20px
}

#skipContainer {
	text-align: center;
}

#loadingContainer {
	margin-left: auto;
	margin-right: auto;
}

#schoeffContainer {
	margin-left: auto;
	margin-right: auto;
	width: 130px;
	height: 70px;
	background-image: url(schoeff.png);
}

#schoeffContainer.hover {
	background-image: url(schoeffExcited.png);
}

#loadingText {
	text-align: center;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
}

#introContainer {
	margin-top: 90px;
	width: 480px; 
	margin-left: auto; 
	margin-right: auto; 
	background-color: black;
	padding: 0;
}

